<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Wypożyczalnia samochodów</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>

	<div align="center" class="container my-2">
		<h1>System zarządzania samochodami</h1>
		<hr>
		<a th:href="@{/showNewSamochodForm}"
			class="btn btn-primary btn-sm mb-3"> Dodaj samochód</a>
		<table border="1" class="table table-striped table-responisive-md">
			<thead>
				<tr>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=marka&sortDir=' + ${reverseSortDir}}">
							Marka samochodu</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=model&sortDir=' + ${reverseSortDir}}">
							Model samochodu</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=kolor&sortDir=' + ${reverseSortDir}}">
							Kolor samochodu</a></th>
					<th>Operacje</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="samochod : ${listSamochody}">
					<td th:text="${samochod.marka}"></td>
					<td th:text="${samochod.model}"></td>
					<td th:text="${samochod.kolor}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${samochod.id})}"
						class="btn btn-warning">Zmień</a> <a
						th:href="@{/deleteSamochod/{id}(id=${samochod.id})}"
						class="btn btn-danger">Usuń</a>
						<a
						th:href="@{/assignSamochod/{id}(id=${samochod.id})}"
						class="btn btn-info">Wypożycz</a>
						<a
						th:href="@{/assignSamochod/{id}(id=${samochod.id})}"
						class="btn btn-success">Oddaj</a></td>
						<td><a th:if="${wypozyczony}" class="label label-danger">Wypożyczony</a>
						<a th:unless="${wypozyczony}" class="label label-success">Wolny</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Wszystkich wpisów: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Następny</a>
					<span th:unless="${currentPage < totalPages}">Następny</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Ostatni</a>
					<span th:unless="${currentPage < totalPages}">Ostatni</span>
				</div>
			</div>
		</div>

	</div>
</body>
</html>